# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#cmake
CMakeCache.txt
CMakeFiles/*
Makefile
cmake_install.cmake
config.0.pos

#tags
tags
types_c.taghl

#Ogre
Ogre.log
